<!DOCTYPE html>
<html xmlns: th="http://wwww.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me - Kwanele Ntshele</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="header small-header">
    <nav class="nav">
      <a href="index">Home</a>
      <a href="skills">Skills</a>
      <a href="projects">Projects</a>
      <a href="contact">Contact</a>
    </nav>
  </header>
  <main>
    <section class="section">
      <div class="container">
        <h2>About Me</h2>
        <p>
          Results-driven ICT graduate with a Diploma in Applications Development. Experienced in C#, Java and SQL, 
          and in developing applications from the stretch with a team. Skilled in testing, designing, troubleshooting and 
          debugging software. Strong leadership, analytical and problem-solving abilities, with a proven ability to 
          communicate and work effectively in a team. Eager to learn and contribute to industry growth and success in a collaborative and 
          fast-paced environment.
        </p>
        <img src="images/K. Ntshele.jpg" alt="Kwanele Ntshele's Profile Picture" class="profile">
      </div>
    

      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Kwanele Ntshele. Designed with care.</p>
    </div>
  </footer>
</body>
</html>
